$desktop-page-width: 1023px;
$desktop-large-width: 1280px;
$tablet-page-width:767px;
$mobile-page-width: 480px;
$mobile-width: 320px;


$global-padding-mobile: 10px;
$global-padding-tablet: 12px;
$global-padding-desktop: 15px;